@{
    ViewBag.Title = "DASNote Removed";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for DASNotes!
    </p>
    <a asp-controller="DASNote" asp-action="Create" class="btn btn-primary">Create a DASNote</a>
    <a asp-controller="DASNote" asp-action="MyDASNotes" class="btn btn-primary">Show all</a>
</div>
