@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>

<p>
    This is an application developed as a result of activity 2 of the subject 'Development of Safe Applications in the Cloud' belonging to the 'Master in Cybersecurity' of the University of Jaen.
</p>
<p>
    It has been developed by Francisco Gámez
</p>

<address>
    <strong>Contact: </strong>   <a href="mailto:fgm00026@red.ujaen.es">fgm00026@red.ujaen.es</a><br />
</address>
